<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
</head>
<body>
    {% include "includes/menu.html" %}

    <div class="container">
        <h1>Welcome to our Shop</h1>
        <p>Enjoy buying the best products</p>
    </div>
</body>
</html>
